.hosted,.invited{float:left;width:40%;margin:25px;vertical-align:top;}
/* .admin_menu li{display:inline-block;width:18%}
.user_menu li{display:inline-block;width:18%} */
body,html{width:100%;height:100%;margin:0; font-family: "Lucida Console", Monaco, monospace
}
main{width: 100%;margin: 0 auto;padding:100px 25px;}
select,main{ background-color:#eae8dc;}
main > ul{width:50%;margin:auto}
nav{
  box-shadow: 0px 0px 24px 3px #000000;
  z-index:99
}
/* nav:first-of-type{
  padding:1px 0;
  background-color:#000
}
nav:last-of-type ul{
  margin:0;padding:0;    line-height: 48px;
}
nav:last-of-type li{
  font-size:24px;
  background: linear-gradient(to bottom right, red, yellow);
  display: table-cell;
  height: 100%;
}
nav:last-of-type ul a {
    font-size: 18px;
}
nav:last-of-type li:nth-child(-n+4){
width: 22%;
padding: 12px;
}
nav:last-of-type li:nth-child(5){
  width:12%;
  padding: 11px;

}
nav:last-of-type li:nth-child(-n+4){
  border-right:1px solid #000;
}
nav{margin:0;text-align: center;}
nav button{
  padding:12px 24px;
} */
/* nav a{color:white} */
td, th {
    padding:0
  }
input,textarea{font-size:18px}
button,form.button_to{font-size:13px;display:inline-block}
input[type='submit']{cursor:pointer}
.banner > a{
  font-size: 72px;
  font-weight:bold;
  color:white;
  display:block;
  text-align:center;
}

  button a{
  /* color:#2cb5e9 !important; */
  font-weight:bold;
  font-size:18px;
}
/* .banner{
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  padding:24px 0 0;
} */
a{text-decoration:none;
padding-right:3px;color:#2cb5e9 }
.errors, article{color:red}
.field_with_errors{
  background-color: red;
  padding: 3px;
  display: inline-block;
}

tr:nth-child(odd) > *:nth-child(-n+5){
    background-color: #eee;
    text-align: left;
    padding-right: 84px
}
td > a:hover, button:hover, tbody tr:not(:first-child):hover{
  color: purple;
  position:relative;
  top:-1px;
  box-shadow: 1px 1px 1px 1px #ccc;
  border-radius: 3px
}

td{
  vertical-align: top;
    padding:6px
}
table{
  margin:auto;
  background-color:white
}

form, article{
  width:50%;
  margin:auto
}

[type="checkbox"], [type="radio"] {
    position: unset !important;
    opacity: 100 !important;
    pointer-events: unset !important;
}
select{
  display:block;
}
textarea{
  height:150px
}
.nav-content li a:hover {
    background-color: transparent;
    margin-top: 9px;
}

label {
    font-size: 15px;
    color: #000;
}
th {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
form div:nth-of-type(odd) {
    background-color: transparent;
}
textarea,textarea:focus, select, select:focus{border:none;outline:none;padding-top:3px}
.nav-content{float:right}
.nav-content li {
    display: inline-block;
    height: 100%;
}
.nav-content li:nth-child(-n+4) a{    font-size: 2.2em}
nav .brand-logo{
  font-size:5em;
    padding: 18px 36px 0;}
nav ul {
    margin: 12px 0;
    min-height: 60px;
}
nav ul a:hover {
    height: 100%;
}
.nav-extended{background-color: #4774a0;}
nav.nav-extended .nav-wrapper {
    min-height: 84px;
}
label{color:#9e9e9e}

.row .col.m7 {
    width: 33%;
    float: left;
  }

  .s12 .card-content{

    min-height:375px

  }
  label label {color:#000}

  .input-field>label:not(.label-icon) {
      transform: translateY(-14px) scale(0.8);
    }
