.hosted,.invited{float:left;width:50%,margin:25px;vertical-align:top;}
.admin_menu li{display:inline-block;width:18%}
.user_menu li{display:inline-block;width:18%}
body,html{width:100%;height:100%;margin:0; font-family: "Lucida Console", Monaco, monospace
}
main{width: 100%;margin: 0 auto;padding:350px 25px; background-color:white;}
header{
  position:fixed;
  width:100%;
  margin:0;
}
nav:first-of-type{
  line-height:0;
  padding:1px 0;
  background-color:#000
}
nav:last-of-type ul{
  margin:0;padding:0
}
nav:last-of-type{
  box-shadow: 0px 0px 12px 2px #000000;
}
nav:last-of-type li{
  font-size:24px;
  background: linear-gradient(to bottom right, red, yellow);
  display: table-cell;
  height: 100%;
  width: 25%;
  padding: 12px;
}
nav:last-of-type li:nth-child(-n+4){

  border-right:1px solid #000;
}
nav{margin:0;text-align: center;}
nav a{color:white}
input,textarea{font-size:18px}
button,form.button_to{font-size:13px;display:inline-block}
input[type='submit']{cursor:pointer}
.banner > a{
  font-size: 72px;
  font-weight:bold;
  color:white;
  display:block;
  text-align:center;
}
nav button{
  padding:12px 24px;
  }
  button a{
  color:#2cb5e9 !important;
  font-weight:bold;
  font-size:18px;
}
.banner{
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  padding:24px 0 0;
}
a{text-decoration:none;
padding-right:3px;color:#2cb5e9 }
.errors{color:red}
.field_with_errors{
  background-color: red;
  padding: 3px;
  display: inline-block;
}

tr:nth-child(odd) > *:nth-child(-n+5){
    background-color: #eee;
    text-align: left;
    padding-right: 84px
}
td > a:hover, button:hover, tbody tr:hover{
  color: purple;
  position:relative;
  top:-1px;
  box-shadow: 1px 1px 1px 1px #ccc;
  border-radius: 3px
}

td{

      vertical-align: top;
      padding:6px
}
